<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <!--<h2 class="text-center" style="color:#004280">Pactera</h2>-->
        <div class="verticalhorizontal">
          <img src="http://ww1.prweb.com/prfiles/2015/07/23/12866905/LOGO.jpeg" alt="Logo">
          </div>
        <div class="smallbar"></div>
          <div>
           <br/>
            <form class="login-form" form id="loginbox" [formGroup]="registerForm" (ngSubmit)="onSubmit(ipUser.value,ipPwd.value)">
              <div class="form-group">
                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input #ipUser type="text" id="login-username" formControlName="userId" class="form-control" name="userid" value="" placeholder="Username">
                </div>
              </div>
            
              <div class="form-group">
                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input #ipPwd id="login-password" type="password" name="password" placeholder="Password" formControlName="password" class="form-control">
                </div>
              </div>
              <a href="#forgot">Forgot Password?</a>
              <div class="form-check">
                <button type="submit" class="btn btn-login" style="float:right;">Submit</button>
              </div>

            </form>
          </div>
          <div class="copy-text"></div>
        </div>
        <div class="col-md-8 banner-sec">

          <div class="carousel-caption d-none d-md-block">
            <div class="banner-text">
              <h2>RMG</h2>
              <p>A tool that Integrate all the Departments</p>
            </div>
          </div>

        </div>
      </div>
  </div>
</section>
