<div class="sidebar">
  <ul class="list-unstyled components">
    <li routerLinkActive="active"><a routerLink="/employee" role="button">Employee</a></li>
    <li routerLinkActive="active"><a routerLink="/projects" role="button">Projects</a></li>
    <li routerLinkActive="active"><a routerLink="/assignProjects" role="button">Assign Project</a></li>
    <li routerLinkActive="active"><a routerLink="/roles" role="button">Roles</a></li>
    <li routerLinkActive="active"><a routerLink="/customers" role="button">Customers</a></li>
  </ul>
</div>
